body {
    color: purple;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px ;
    margin: 0;
    padding: 0;
}
#cabecera {
    background-color: purple;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px 5px 20px 0px black;

}
#cabecera #tagline {
    font-weight: normal;
    font-size: 0.8em;
    margin: 0 0 0 1em ;

}
#container {
    width: 70%;
    text-align: left;
    border: 1px solid blue;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;
}

footer {
    background-color: purple;
    text-align: center;
    color: white;
    width: 70%;
    margin: 0 auto;
    border: 1px solid purple;
}